<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Library</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body>
<header>
    <div class="navbar">
        <button class="hamburger" onclick="toggleSidebar()">☰</button>
        <input type="text" id="searchInput" placeholder="Search books...">
        <a href="/profile">
            <div class="profile-icon">
                👤
                <span id="username">{{naming}}</span>
            </div>
        </a>
    </div>
</header>

<main>
    <ul>
        {{#each books}}
            <li class="book-container">
                <img src="{{this.volumeInfo.imageLinks.thumbnail}}" alt="{{this.volumeInfo.title}}">
                <h3>{{this.volumeInfo.title}}</h3>
                <p>{{this.volumeInfo.authors}}</p>
                <!-- Другие данные книги -->
            </li>
        {{/each}}
    </ul>
</main>

<aside class="sidebar">
    <button class="close-btn" onclick="toggleSidebar()">×</button>
    <nav>

            <a href="/home" class="non-rotating">Main</a>
            <a href="/profile" class="non-rotating">Profile</a>
            <a href="#" class="non-rotating">My Library</a>
            <a href="#" class="non-rotating">Recommendations</a>
            <a href="#" class="non-rotating">New Releases</a>

    </nav>
</aside>

<footer>
    <p>&copy; 2023 MyE-Library. All rights reserved.</p>
</footer>

<script src="script.js"></script>
</body>

</html>
